@import "tailwindcss";

@theme {
  --font-sans: "Geist Sans";
}

:root {
  --verdu-bg: url("/verdu.webp");

  @apply scroll-smooth;
  scrollbar-width: thin;
  scrollbar-color: #181818 black;
}

p,
figcaption {
  @apply text-pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-balance;
}
