---
import Layout from "@/layouts/Layout.astro";
import Welcome from "@/sections/Welcome.astro";
import Projects from "@/sections/Projects.astro";
---

<Layout
  title="Albert Verdú 👋 | Frontend Engineer"
  description="Albert Verdú is a software engineer and a web developer. He is passionate about building and maintaining open-source projects."
>
  <main class="mx-auto max-w-6xl px-4">
    <Welcome />
    <Projects />
    <Projects />
    <Projects />
  </main>
</Layout>
