---
import Layout from "@/layouts/Layout.astro";
import Welcome from "@/sections/Welcome.astro";
---

<Layout
  title="Albert Verdú 👋 | Frontend Engineer"
  description="Albert Verdú is a software engineer and a web developer. He is passionate about building and maintaining open-source projects."
>
  <main class="max-w-6xl mx-auto px-4">
    <Welcome />
  </main>
</Layout>
