<span
  class={`
    cursor-follow pointer-events-none
    fixed z-10
    size-[800px] -translate-x-1/2 -translate-y-1/2
    rounded-full backdrop-brightness-200
    [mask-image:radial-gradient(circle,rgba(0,0,0,0.9),rgba(0,0,0,0.5)_30%,rgba(0,0,0,0)_70%)]
    `}
>
</span>

<span
  class="cursor-follow pointer-events-none fixed -z-10 grid size-[2000px] -translate-x-1/2 -translate-y-1/2 place-content-center rounded-full backdrop-brightness-[2000%] [mask-image:radial-gradient(circle,black,transparent_50%)]"
>
</span>

<script>
  function init_cursor() {
    window.addEventListener("mousemove", (ev) => {
      const cursors = document.querySelectorAll(".cursor-follow");
      const { clientX, clientY } = ev;

      cursors.forEach((cursor) => {
        cursor.animate([{ top: `${clientY}px`, left: `${clientX}px` }], {
          duration: 1000,
          easing: "ease-in-out",
          fill: "both",
        });
      });
    });
  }

  init_cursor();
</script>
