<span
  class="cursor-guide pointer-events-none fixed -z-10 grid size-[2000px] -translate-x-1/2 -translate-y-1/2 place-content-center rounded-full backdrop-brightness-[2000%] [mask-image:radial-gradient(circle,black,transparent_50%)]"
>
  <div class="flex size-96 rounded-full bg-white blur-3xl opacity-10"></div> 
</span>

<style>
  .cursor-guide {
    animation: cursorGuide ease-in-out both;
    animation-timeline: scroll();
  }

  @keyframes cursorGuide {
    0% {
      top: 25%;
      left: 75%;
    }

    10% {
      top: 27%;
      left: 77%;
    }

    30% {
      top: 25%;
      left: 15%;
    }

    50% {
      top: 50%;
      left: 75%;
    }

    100% {
      top: 75%;
      left: 25%;
    }
  }
</style>
