---
import ProjectCard from "@/components/ProjectCard.astro";
import { projects } from "@/lib/Projects";
---

<section class="flex flex-col items-start pb-40 pt-20 md:pt-56 gap-4 md:gap-8">
  <h2 class="text-xl md:text-7xl lg:text-4xl">My projects</h2>

  <ul class="grid grid-cols-1 md:grid-cols-2 row-span-1 gap-3">
    {
      projects.map((project) => (
        <li class="row-span-1 col-span-1">
          <ProjectCard data={project} />
        </li>
      ))
    }
  </ul>
</section>
