---
import Image from "astro/components/Image.astro";
---

<section class="flex min-h-screen items-center justify-center">
  <h1 class="text-8xl">hello, i'm a software engineer and a web developer</h1>

  <Image
    src="/verdu.png"
    alt="Albert Verdú"
    width="100"
    height="100"
    class="z-20 w-1/4"
  />
</section>
