---
import "@fontsource/geist-sans";

import Nav from "@/components/Nav.astro";
import Cursor from "@/components/Cursor.astro";
import Background from "@/components/Background.astro";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={Astro.props.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>
  <body
    class="text-pretty dark:bg-black dark:text-gray-500"
  >
    <Nav />
    <slot />
    <Cursor />
    <Background />
  </body>
</html>

<style is:global>
  :root {
    scrollbar-width: thin;
    scrollbar-color: #181818 black;
  }
</style>
